<!DOCTYPE html>
<html lang="en">
<body>
<h1>awww yes members only</h1>

<br>
<a href="/"><input type="button" name="LogOut" value="Log Out" onclick="deleteCookie()"></a>
</body>

<script> 
    function deleteCookie(){
        
       document.cookie ="SID=; expires=Thu, 01 Jan 1970 00:00:00 GMT;" ;
       alert(document.cookie)
    }
</script>
</html>